table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  mat-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  mat-list-item {
    font-size: 18px;
    padding: 10px 0;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-top: 20px;
  }

  .id-column {
    width: 50px; 
  }
  
  .name-column {
    width: 150px; 
  }
  
  .email-column {
    width: 200px; 
  }
  
  .phone-column {
    width: 150px; 
  }
  
  .address-column {
    width: 250px; 
  }
  
  .gender-column {
    width: 100px; 
  }
  
  .dob-column {
    width: 150px; 
  }
  
  .mat-elevation-z8 {
    overflow-x: auto; /* Ensure table remains responsive */
  }
  
  .mat-elevation-z8 {
    overflow-x: auto; /* Ensure table remains responsive */
  }
  .filter{
    width: 30%;
  }